/* Variables globales */
:root {
    --oscuro: #07070A;
    --blanco: #FEFCFB;
    --purpura: #800080;
    --grisOscuro: #808080;
    --titulos: "Big Shoulders Stencil", sans-serif;
    --parrafos: "Roboto", serif;
}

/* Aplicar fuente y justificación globalmente */
body {
    font-family: var(--parrafos); /* Usa la fuente de párrafos en toda la página */
    text-align: justify; /* Justifica el texto */
    color: var(--oscuro); /* Color de texto general */
}

/* Justificar todos los párrafos */
p {
    text-align: justify;
    font-family: var(--parrafos);
}

/* Biografía */
.biografia {
    padding: 5rem 1rem; /* Reducir el padding lateral */
    background-color: var(--purpura);
    color: var(--blanco);
}

/* Estilos para títulos */
.biografia h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: var(--titulos); /* Usa la fuente de títulos */
}

/* Contenedor de la biografía */
.contenido-biografia {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para cada artista */
.artista {
    display: flex;
    flex-direction: row; /* Texto a la derecha, imagen a la izquierda */
    align-items: center;
    margin-bottom: 40px;
    text-align: justify; /* Justificar el texto */
}

/* Estilos para el texto */
.artista .texto {
    flex: 3;
    padding-right: 5px;
    font-size: 1rem; /* Ajustar tamaño de letra */
    font-family: var(--parrafos);
    text-align: justify; /* Justificar el texto */
}

/* Estilos para la imagen */
.artista .imagen {
    flex: 0 0 300px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artista img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

/* Media Queries para pantallas medianas (tablets) */
@media (max-width: 768px) {
    .biografia {
        padding: 3rem 1rem;
    }

    .artista {
        flex-direction: column;
        align-items: flex-start;
    }

    .artista .texto {
        padding-right: 0;
        margin-bottom: 20px;
        font-size: 1rem; /* Ajuste de tamaño en tablets */
    }

    .artista .imagen {
        flex: 0 0 auto;
        margin-left: 0;
        width: 100%;
        max-width: 400px;
    }
}

/* Media Queries para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .biografia h2 {
        font-size: 2rem;
    }

    .artista .texto {
        font-size: 0.9rem;
    }

    .artista .imagen {
        max-width: 100%;
    }
}
