:root{
    --oscuro:#07070A;
    --blanco:#FEFCFB;
    --purpura:#800080;
    --grisOscuro:#808080; 
    --titulos: "Big Shoulders Stencil", sans-serif;
    --parrafos: "Roboto", serif;
    /*--parrafo: "Nanum Myeongjo", serif;*/
}